{% load static %}
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/" class="site_title"><img src='{% static 'images/logo_combine.png' %}' width="90%" alt="COMBINE GROUP"/></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src='{% static 'images/user.png' %}' alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>Anonymous</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">

                        <ul class="nav side-menu">
                            <li class=""><a href="/"><i class="fa fa-list-alt"></i> Documentation </a>
                            <li class=""><a><i class="fa fa-list-alt"></i> Model Verification <span
                                    class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu" style="display: none;">
                                    <li><a href="/verify_smoothness">Smoothness Analysis</a></li>
                                    <li><a href="/verify_time_step">Time Step Convergence Analysis</a></li>
                                    <li><a href="/verify_existence_unique">Existence and Uniqueness Analysis</a></li>
                                    <li><a href="/verify_sobol_analysis">Sobol Analysis</a></li>
                                    <li><a href="/verify_lhs-prcc">LHS-PRCC</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a href="https://www.combine-group.org/" target="_blank" data-toggle="tooltip" data-placement="top"
                       title="WebSite COMBINE">
                        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                    </a>
                    <a href="mailto:info@combine-group.org" data-toggle="tooltip" data-placement="top" title="Support">
                        <span class="fa fa-envelope" aria-hidden="true"></span>
                    </a>
                    <a href="https://www.facebook.com/COMBINE.UniCT" target="_blank" data-toggle="tooltip"
                       data-placement="top" title="Facebook Page">
                        <span class="fa fa-facebook" aria-hidden="true"></span>
                    </a>
                    <a href="https://github.com/COMBINE-Group/docker_verify" target="_blank" data-toggle="tooltip" data-placement="top"
                       title="Model Verification Tools v{{ version }}">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>
