{% load static %}
<!-- footer content -->
<footer>
    <div class="pull-left">
        &copy; 2021 COMBINE Group - All rights reserved.
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>


<!-- SweetAlter2 -->
<script src="https://unpkg.com/sweetalert2@7.11.0/dist/sweetalert2.all.js"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'js/fastclick.js' %}"></script>
<!-- NProgress -->
<script src="{% static 'js/nprogress.js' %}"></script>
<!-- Chart.js -->
<script src="{% static 'js/Chart.min.js' %}"></script>
<!-- gauge.js -->
<script src="{% static 'js/gauge.min.js' %}"></script>
<!-- bootstrap-progressbar -->
<script src="{% static 'js/bootstrap-progressbar.min.js' %}"></script>
<!-- iCheck -->
<script src="{% static 'js/icheck.min.js' %}"></script>
<!-- Skycons -->
<script src="{% static 'js/skycons.js' %}"></script>
<!-- Flot -->
<script src="{% static 'js/jquery.flot.js' %}"></script>
<script src="{% static 'js/jquery.flot.pie.js' %}"></script>
<script src="{% static 'js/jquery.flot.time.js' %}"></script>
<script src="{% static 'js/jquery.flot.stack.js' %}"></script>
<script src="{% static 'js/jquery.flot.resize.js' %}"></script>
<!-- Flot plugins -->
<script src="{% static 'js/jquery.flot.orderBars.js' %}"></script>
<script src="{% static 'js/jquery.flot.spline.min.js' %}"></script>
<script src="{% static 'js/curvedLines.js' %}"></script>
<!-- DateJS -->
<script src="{% static 'js/date.js' %}"></script>
<!-- JQVMap -->
<script src="{% static 'js/jquery.vmap.js' %}"></script>
<script src="{% static 'js/jquery.vmap.world.js' %}"></script>
<script src="{% static 'js/jquery.vmap.sampledata.js' %}"></script>
<!-- bootstrap-daterangepicker -->
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

<!-- Custom Theme Scripts -->
<script src="{% static 'js/custom.min.js' %}"></script>

<!-- FORM -->
<!-- bootstrap-wysiwyg -->
<script src="{% static 'js/bootstrap-wysiwyg.min.js' %}"></script>
<script src="{% static 'js/jquery.hotkeys.js' %}"></script>
<script src="{% static 'js/prettify.js' %}"></script>

<!-- jQuery Tags Input -->
<script src="{% static 'js/jquery.tagsinput.js' %}"></script>
<!-- Switchery -->
<script src="{% static 'js/switchery.min.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'js/select2.full.min.js' %}"></script>

<!-- Parsley -->
<script src="{% static 'js/parsley.min.js' %}"></script>
<!-- Autosize -->
<script src="{% static 'js/autosize.min.js' %}"></script>
<!-- jQuery autocomplete -->
<script src="{% static 'js/jquery.autocomplete.min.js' %}"></script>
<!-- /FORM -->

</body>
</html>