{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Deterministic Model Verification tools for discrete-time models</h3>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <div class="x_panel">

                        <div class="x_title">
                            <h2><i class="fa fa-align-left"></i>Documentation</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <!-- start accordion -->
                            <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel">
                                    <a class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                       aria-controls="collapseOne">
                                        <h4 class="panel-title">Smooothness Analysis</h4>
                                    </a>
                                    <div id="collapseOne" class="panel-collapse in collapse" role="tabpanel"
                                         aria-labelledby="headingOne" style="">
                                        <div class="panel-body">
                                            <div class="panel-body">
                                                <p><strong>Input Parameters</strong>
                                                </p>
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                Brunch 3 wolf moon tempor,
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                       aria-controls="collapseTwo">
                                        <h4 class="panel-title">Time Step Convergence Analysis</h4>
                                    </a>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            <p><strong>Input Parameters</strong>
                                            </p>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                            dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                            tempor,
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <a class="panel-heading collapsed" role="tab" id="headingThree"
                                       data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                                       aria-expanded="false" aria-controls="collapseThree">
                                        <h4 class="panel-title">Existence and Uniqueness Analysis</h4>
                                    </a>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            <p><strong>Input Parameters</strong>
                                            </p>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                            dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                            tempor
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <a class="panel-heading collapsed" role="tab" id="headingFourth"
                                       data-toggle="collapse" data-parent="#accordion" href="#collapseFourth"
                                       aria-expanded="false" aria-controls="collapseFourth">
                                        <h4 class="panel-title">Sobol Analysis</h4>
                                    </a>
                                    <div id="collapseFourth" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="headingFourth">
                                        <div class="panel-body">
                                            <p><strong>Input Parameters</strong>
                                            </p>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                            dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                            tempor
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <a class="panel-heading collapsed" role="tab" id="headingFifth"
                                       data-toggle="collapse" data-parent="#accordion" href="#collapseFifth"
                                       aria-expanded="false" aria-controls="collapseFifth">
                                        <h4 class="panel-title">Latin Hypercube Sampling Analysis</h4>
                                    </a>
                                    <div id="collapseFifth" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="headingFifth">
                                        <div class="panel-body">
                                            <p><strong>Input Parameters</strong>
                                            </p>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                            dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                            tempor
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <a class="panel-heading collapsed" role="tab" id="headingSixth"
                                       data-toggle="collapse" data-parent="#accordion" href="#collapseSixth"
                                       aria-expanded="false" aria-controls="collapseSixth">
                                        <h4 class="panel-title">Partial Rank Correlation Coefficients Analysis</h4>
                                    </a>
                                    <div id="collapseSixth" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="headingSixth">
                                        <div class="panel-body">
                                            <p><strong>Input Parameters</strong>
                                            </p>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                            dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                            tempor
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end of accordion -->


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
    <script>
        let media_path = "{{ media_path }}";
        let appname = "{{ appname }}";
        let user_username = "Anonymous";
        let url_check_simulations = "{% url 'check-simulations-verify' %}";
        let url_run_uniqueness_analysis = "{% url 'run-uniqueness_analysis' %}";
        let url_read_info = "{% url 'read-info-simulation-verify' %}";
        let csrf_token = "{{ csrf_token }}"
    </script>
    <script src="{% static 'js/function_verify.js' %}" type="module"></script>

{% endblock content %}
