{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Deterministic Model Verification tools for discrete-time models</h3>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">

                <div class="col-md-3 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Latin Hypercube Sampling</h2>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <form action="#" method="POST" name="form_virtual" id="fileUploadForm"
                                  class="form-horizontal form-label-left input_mask" enctype="multipart/form-data">
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label>Number of samples</label>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" id="number_samples_lhs"
                                               name="number_samples_lhs"
                                               class="form-control" required>
                                    </div>
                                </div>
                                <br/>
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label>Seed</label>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" id="seed_lhs"
                                               name="seed_lhs"
                                               class="form-control" required>
                                    </div>
                                </div>
                                <br/>
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label>Iterations</label>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" id="iterations"
                                               name="iterations"
                                               class="form-control" required>
                                    </div>
                                </div>
                                <br/>
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label for="files_input">File parameter range</label>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="file" id="files_input_lhs" name="files_input_lhs"
                                               required="required">
                                    </div>
                                </div>
                                <br/>
                                <div class="form-group">
                                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                        <button class="btn btn-primary" type="reset">Reset</button>
                                        <input type="button" id="submit_lhs_analysis" class="btn btn-success"
                                               value="Submit"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Partial Rank Correlation Coefficients</h2>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <form action="#" method="POST" name="form_virtual" id="fileUploadForm"
                                  class="form-horizontal form-label-left input_mask" enctype="multipart/form-data">
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label> Column to analyze </label>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" id="column_select_prcc"
                                               name="column_select_prcc"
                                               class="form-control" required>
                                    </div>
                                </div>
                                <br/>
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label for="files_input">Files to analyze</label>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="file" id="files_input_prcc" name="files_input"
                                               required="required"
                                               multiple>
                                    </div>
                                </div>
                                <br/>
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label for="files_input">Output LHS</label>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="file" id="files_output_lhs_prcc" name="files_input"
                                               required="required">
                                    </div>
                                </div>
                                <br/>
                                <div class="form-group">
                                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                        <button class="btn btn-primary" type="reset">Reset</button>
                                        <input type="button" id="submit_uniquness_analysis" class="btn btn-success"
                                               value="Submit"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Your Analysis</h2>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <br/>

                            <form action="#" method="POST" name="form_plot"
                                  class="form-horizontal form-label-left input_mask">
                                <select name="simulation" class="select2_group form-control" required="">
                                    <option value="">Choose..</option>
                                </select>

                                <div class="ln_solid"></div>

                                <div class="form-group">
                                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                        <input type="button" id="reload_simulation" class="btn btn-success"
                                               value="Check status!"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="divPlot col-md-3 col-xs-12" style="visibility: hidden;">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Show Plot</h2>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <form action="#" method="POST" name="form_plot"
                                  class="form-horizontal form-label-left input_mask"
                                  enctype="multipart/form-data">
                                <select name="type_plot" class="select2_group form-control" required="">
                                    <optgroup label="Details">
                                        <option value="fig_trends" selected>Trends</option>
                                        <option value="fig_pearson_corr_RMSE">Pearson Correlation coeff and RMSE
                                        </option>
                                        <option value="pv_newfunction">NEW Peak Value</option>
                                        <option value="timeto_pv_newfunction">NEW Time to PV</option>
                                        <option value="Smoothness_Analysis">Smoothness Analysis</option>
                                    </optgroup>
                                </select>
                            </form>
                            <hr/>
                            <p class="infosim"></p>
                        </div>
                    </div>
                </div>

                <div class="divPrintPlot col-md-9 col-xs-12" style="visibility: hidden;">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Plot</h2>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <br/>
                            <img class="printPlot" src="" style="height: 100%;width: 100%;"/>
                            <input type="hidden" name="selectIdSimulation" value=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
    <script>
        var media_path = "{{ media_path }}";
        var appname = "{{ appname }}";
        var user_username = "{{ user.username }}";
        var url_check_simulations = "{% url 'check-simulations-verify' %}";
        var url_run_lhs_analysis = "{% url 'run_lhs' %}";
        var url_read_info = "{% url 'read-info-simulation-verify' %}";
        var csrf_token = "{{ csrf_token }}"
    </script>
    <script src="{% static 'js/function_verify_lhs_prcc.js' %}" type="module"></script>

{% endblock content %}